In [1]:
import pandas as pd
import numpy as np

In [2]:
labels = ['a','b','c']
my_data = [10,20,30]

In [3]:
arr = np.array(my_data)

In [4]:
arr

array([10, 20, 30])

In [6]:
b = pd.Series(my_data,index=labels)

In [7]:
b

a    10
b    20
c    30
dtype: int64

In [8]:
b[0]

10

In [9]:
type(b)

pandas.core.series.Series

In [10]:
b

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [13]:
d = {'a':"kjhk",'b':20,'c':30}

In [15]:
d.items()

dict_items([('a', 'kjhk'), ('b', 20), ('c', 30)])

In [20]:
pd.Series(d,index=['a','b','c'])

a    kjhk
b      20
c      30
dtype: object

In [21]:
pd.DataFrame(d,index=['a','b','c'])

      a   b   c
a  kjhk  20  30
b  kjhk  20  30
c  kjhk  20  30

In [23]:
ser1 = pd.Series([1,2,3,4],index = [2,4,6,8])
ser2 = pd.Series([1,2,5,4],['CA', 'OR', 'NV', 'AZ'])
ser1

2    1
4    2
6    3
8    4
dtype: int64

In [24]:
ser2

CA    1
OR    2
NV    5
AZ    4
dtype: int64

In [28]:
ser3= pd.Series([1,2,3,4],['CA', 'OR', 'CO', 'CA'])
ser4 = pd.Series([1,2,5,4],['CA', 'NV', 'AZ','OR'])
ser5 = ser3+ser4
ser5

AZ    NaN
CA    2.0
CA    5.0
CO    NaN
NV    NaN
OR    6.0
dtype: float64

In [29]:
ser3*ser4

AZ    NaN
CA    1.0
CA    4.0
CO    NaN
NV    NaN
OR    8.0
dtype: float64